#container{
  margin:0;

}


#gameBoard{
  margin: auto;
  border: 1px solid red;
  max-width: 60%;

}

.square{
  width:15vw;
  border: 1px solid blue;
  display: inline-block;
  height: 15vw;
  padding:0;
  margin:0;
}

img{
  display: block;
  margin: auto;
  padding: auto;
  height: 20px;
  width: 20px;
  vertical-align:middle;
}
