#container{
  margin:0 auto;

}

h1{
  text-align: center;
}

#scoreboard{
  width: 47%;
  /* position: relative; */
  margin: 0 auto;
  text-align: center;
  /* display: inline-block; */
  border: 1px solid yellow;
}

#scoreGroup{
  position: relative;
  margin: auto;
}

.score{
  display: inline-block;
  width: 15%;
  border: 1px solid green;
}

#gameBoard{
  margin: auto;
  border: 1px solid red;
  max-width: 47%;
}

#rightSelect{
  visibility: hidden;
}

.square{
  width:15vw;
  border: 1px solid blue;
  display: inline-block;
  height: 15vw;
  padding:0;
  margin:0;
}

img{
  display: block;
  margin: auto;
  padding: auto;
  height: 20px;
  width: 20px;
  vertical-align:middle;
}

#endOfGame{
  height:600px;
  width: 600px;
  margin: auto;
  position: absolute;
  z-index: 1;
  border: 1px solid purple;
  text-align: center;
  background-color: purple;
  display:none;
}

#endPic{
  height: 220px;
  width: 220px;
  position: relative;
  z-index: 2;
  margin:auto;
}

.arrows{
  height: 60px;
  width: 60px;
}
